.category__card{
    width: 100%;
    height: 380px;
    position: relative;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    &__body{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.2);
    }

    &:hover{
        background-size: 120%;
    }
}