.product {
    & span.underline,
    & a.underline {
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            height: 0.5px;
            width: 0%;
            transition: 0.2s ease-in-out;
        }
        &:hover:before {
            width: 100%;
        }
    }
    margin-bottom: 1rem;
    &__title {
        color: #555;
        &:hover {
            color: inherit;
        }
    }
    &__add {
        $color: #4f944f;
        color: $color;
        opacity: 0;
        font-size: 0.8rem;

        &::before {
            content: "";
            transition: all 0.3s ease-in-out;
            position: absolute;
            bottom: -2px;
            height: 0.5px;
            width: 0%;
            background-color: $color;
        }
    }
    & span {
        margin-right: 10px;
    }

    &__image {
        position: relative;
        & img + img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover img + img {
            opacity: 1;
        }
    }
    &:hover &__add {
        opacity: 1;
        color: #4f944f;
    }
}
