.header {
    width: 100%;
    background-color: rgba(16, 16, 16, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    z-index: 10;
    &.transparent {
        background-color: transparent;
    }
    & #icon-search {
        cursor: pointer;
    }
    &__search {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: red;
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
        &.active {
            transform: translateY(0%);
        }
        .search__group {
            width: 100%;
            background-color: #fff;
            display: flex;
            align-items: center;
            height: 100px;
            padding: 2rem 2.5rem;

            input {
                flex: 1;
                height: 50px;
                border: none;
                outline: none;
            }
            span {
                text-align: center;
                border: none;
                outline: none;
                background-color: #fff;
                width: 60px;
                height: 60px;
                line-height: 60px;
                cursor: pointer;
                border-radius: 50%;
                font-size: 1.2rem;
                &:hover {
                    background-color: #efefef;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    // .header{
    //     background-color: transparent;
    // }
}
